body {
    font-family: Arial, sans-serif;

}
.namePet1 {
    text-align: center;
    font-family: Comic Sans MS cursive;
    font-weight: bold;
    font-size: 25px;
    color: rgb(217, 102, 60);
    text-decoration: none;
    margin-top: 10px;
}

.pricePet1 {
    text-align: center;
    font-family: Comic Sans MS cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #0f1659;
    margin-bottom: 15px;
}

.image-container img {
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.image-container:hover img {
    transform: scale(1.1);
}
.pets {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.pets:hover .overlay {
    opacity: 1;
}
.btn:hover {
    color: rgb(238, 231, 233);
    background-color: #e32e2e;
}
.btn {
    margin-left: 60px;
    border-radius: 10px;
}
.namePet1:hover {
    color: #449b1f;
}

